<div class="uk-section uk-section-medium uk-section-muted">
    <div class="uk-container uk-container-small">
        <dl class="uk-description-list uk-description-list-divider">
            <dt>Clone repository</dt>
            <dd><pre><code>git clone git@github.com:paweltar/static-site-template.git my-project-name</code></pre>
            <pre><code>cd my-project-name</code></pre></dd>
            <dt>Remove git tracking and initialize your own</dt>
            <dd><pre><code>rm -rf .git</code></pre>
            <pre><code>git init</code></pre>
          </dd>
            <dt>Download dependencies</dt>
            <dd><pre><code>npm install && bower install</code></pre></dd>
            <dt>Build project and start watching for changes</dt>
            <dd><pre><code>gulp</code></pre></dd>
            <dt>Create <code>/dist</code> folder for the production website</dt>
            <dd><pre><code>gulp build</code></pre></dd>
        </dl>
    </div>
</div>
